@model IEnumerable<GeekShopping.Web.Models.ProductViewModel>;

<br />
<br />

<div class="container p-4 border">
    <div class="row pb-2">
        <div class="col">
            <h1 class="text-primary">Products List</h1>
        </div>

        <div class="col text-end pt-1">
            <a asp-controller="Product" asp-action="Create" class="btn btn-outline-primary">
                <i class="fas fa-plus"></i>
                Create New Product
            </a>
        </div>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Category</th>
                <th>Price</th>
                <th class="action-header"></th>
            </tr>
        </thead>
        
        <tbody>
            @foreach(var item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.CategoryName</td>
                    <td>@item.Price.ToString("c")</td>
                    <td>
                        <a class="btn btn-success" asp-controller="Product" asp-action="Edit" asp-route-id="@item.Id">
                            <i class="fas fa-edit"></i>
                        </a>
                        @if(User.IsInRole("Admin"))
                        {
                            <a class="btn btn-danger" asp-controller="Product" asp-action="Delete" asp-route-id="@item.Id">
                                <i class="fas fa-trash"></i>
                            </a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>